header{
    background-color: #fff;
    padding: 12px;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 100%;
}
header svg{
    width: 27px;
    height: 27px;
    vertical-align: middle;
}
.header_top,
.header_bottom{
    max-width: 1640px;
    width: 100%;
}
.header_top{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header_top .header-digikala_logo {
    display: block;
    width: 200px;
}
.mobile-search-box{
    display: none;
}
.header_top > a{
    border-radius: 8px;
    height: 40px;
    width: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header_top > a svg{
    width: 24px;
    height: auto;
}
.header_bottom{
    margin: 0 auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-city{
    display: flex;
    align-items: center;
    gap: 5px;
}
.choose-city svg:nth-child(1){
    width: 22px;
}
.choose-city svg:nth-child(3){
    width:18px;
}
.choose-city span{
    font-size: 14px;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #ececec;
    border-radius: 4px;
    width: 600px;
    padding: 0 10px;
    height: 44px;
    margin-left: auto;
    flex-shrink: 2;
    cursor: pointer;
}
.header_top > *:not(.search-box) {
    flex-shrink: 0;
}
.search-box span{
    color: rgba(0, 0, 0, 0.7);
    font-size: var(--secendry-font-size);
}
.mobile-btns{
    display: none;
}
.main-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.primary-btn{
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 6px 16px;
}
.primary-btn span{
    font-size: var(--secendry-font-size);
}
.header-space{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    height: 25px;
}
nav{
    display: block;
    height: 100%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 18px;
    line-height: 40px;
}
nav a{
    display: block;
    transition: 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    position: relative;
}
nav a:hover .sub-border{
    animation-name: header-navigator;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes header-navigator {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
nav a .sub-border{
    display: block;
    height: 2px;
    background-color: red;
    position: absolute;
    z-index: -9;
    left: 0;
    bottom: -2px;
    animation-name: header-navigator-back;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-direction: alternate-reverse;
}
@keyframes header-navigator-back {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
nav span{
    font-size: 12px;
    color: rgb(98, 102, 109);
    font-weight: 100;
}
nav svg{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.mega-menu span{
    color: rgb(63, 64, 100);
    font-weight: 500;
}
.choose-city{
    background-color: rgb(254,246,239);
    border-radius: 100px;
    padding: 2px 12px;
}
.choose-city span{
    color: rgb(245, 127, 23);
    font-weight: 500;
}
.choose-city svg path{
    stroke: rgb(245, 127, 23)!important;
}
.choose-city svg:nth-child(3){
    display: none;
}
.header_slider{
    display: none;
}
nav .header-space{
    height: 16px;
}