.optionBar .swiper-slide{
    width: 80px!important;
    text-align: center;
}
.optionBar .swiper-wrapper{
    justify-content: space-between;
}
.swiper-slide a{
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}
.optionBar .swiper-slide img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 0 auto;
}
.optionBar .swiper-slide span{
    display: block;
    font-size: 12px;
    font-weight: 500;
}
.optionBar .more-btn{
    background-color: rgba(128, 128, 128, 0.23);
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.optionBar .more-btn div{
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}