.secend-banner {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 14px;
    padding: 10px;
}
.secend-banner img{
    border-radius: 12px;
    width: 100%;
    height: 264px;
    object-fit: cover;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}