.blog .offer{
    background-color: #fff;
}
.blog .offer-header h3{
    color: rgba(0, 0, 0, 0.7);
    font-size: var(--main-font-size);
    font-weight: 500;
}
.blog .swiper-wrapper{
    justify-content: space-around!important;
}
.blog .offer-header span{
    color: rgb(0, 162, 255);
    font-size: 12px;
    font-weight: 400;
}
.blog .swiper-slide{
    width: 300px;
    height: auto;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}
.blog .swiper-slide img{
    display: block;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}
.blog .swiper-slide span{
    color: rgba(0, 0, 0, 0.8);
    height: 45px;
    line-height: 45px;
    padding: 5px;
}