.slider{
    overflow: hidden;
    position: relative;
}
.slider img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.slider .mobile-slider-item{
    display: none;
}
.slider .desktop-slider-item{
    display: block;
}
.slider .slider-btn-options{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 60px;
    right: 30px;
    z-index: 9;
    transition: 200ms;
}
.slider:hover .slider-btn-options{
    opacity: 1;
    visibility: visible;
}
.slider .swiper-button-next,
.slider .swiper-button-prev{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    position: absolute;
}
.slider .swiper-button-prev{
    right: 0!important;
}
.slider .swiper-button-next{
    right: 50px!important;
}
.slider .swiper-pagination{
    width: fit-content!important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.slider .swiper-pagination .swiper-pagination-bullet{
    background-color: #fff;
    opacity: 0.4!important;
    margin-right: 2px;
    margin-left: 2px;
}
.slider .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1!important;
}