.slider{
    overflow: hidden;
    position: relative;
}
.slider img{
    width: 90%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    min-height: 200px;
    max-height: 250px;
    margin: 0 auto;
}
.slider .desktop-slider-item{
    display: none;
}
.slider .swiper-button-next,
.slider .swiper-button-prev{
    display: none;
}
.slider .swiper-pagination{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: fit-content!important;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 2px;
    border: 1px solid gray;
}
.slider .swiper-pagination .swiper-pagination-bullet{
    background-color: #fff;
    opacity: 0.4!important;
    margin-right: 2px;
    margin-left: 2px;
}
.slider .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1!important;
}