.supermarket-wonderful .mobile-mode{
    display: none;
}
.supermarket-wonderful{
    margin: 10px;
}
.supermarket-wonderful .desktop-mode{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 0 30px;
    width: 100%;
    height: 110px;
    position: relative;
    background: url('../../../photos/super-market-wonderful-background-pattern.svg') left center no-repeat;
}
.supermarket-wonderful .desktop-mode .bg{
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    border-radius: 12px;
    z-index: -1;
}
.supermarket-wonderful .desktop-mode .discout{
    background-color: #029A49;
    border-radius: 50px;
    padding: 6px 12px;
    color: #fff;
    font-size: var(--secendry-font-size);
    font-weight: 500;
    margin-right: 20px;
}
.supermarket-wonderful .desktop-mode .product-discout{
    background-color: #d32f2f;
    border-radius: 50px;
    padding: 2px 6px;
    color: #fff;
    font-size: calc(var(--secendry-font-size) - 2px);
    font-weight: 500;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    right: -50%;
}
.supermarket-wonderful .desktop-mode .supermarket-product{
    border-radius: 50%;
    width: 74px;
    height: 74px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}
.supermarket-wonderful .desktop-mode .supermarket-product img{
    width: 50px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.supermarket-wonderful .desktop-mode div > span{
    display: block;
    width: fit-content;
    height: auto;
    background-color: #fff;
    border-radius: 50px;
    color: #029A49;
    padding: 14px 28px;
    font-size: var(--secendry-font-size);
}
@media screen and (max-width: 1200px){
    .supermarket-wonderful .desktop-mode div:nth-child(2) .supermarket-product:nth-child(1){
        display: none;
    }
}
@media screen and (max-width: 1120px){
    .supermarket-wonderful .desktop-mode div:nth-child(2) .supermarket-product:nth-child(2){
        display: none;
    }
}
@media screen and (max-width: 1050px){
    .supermarket-wonderful .desktop-mode div:nth-child(2) .supermarket-product:nth-child(3){
        display: none;
    }
}