.categories .title{
    text-align: right;
    font-size: var(--secendry-font-size);
    font-weight: 600;
}
.categories .swiper-slide{
    width: 100px;
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
}
.categories .swiper-slide img{
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.categories .swiper-slide  span{
    font-size: calc(var(--secendry-font-size) - 4px);
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    display: block;
}