.brands{
    position: relative;
    border-radius: 16px;
    padding: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.brands .title{
    margin-top: 10px;
}
.brands .swiper-slide{
    width: 100px;
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
}
.brands .swiper-slide img{
    width: 110px;
    height: 110px;
    background: transparent;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.brands .swiper-slide  span{
    display: none;
}