.brands{
    position: relative;
}
.brands::after{
    display: block;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10px;
    right: 0;
    left: 0;
    bottom: -30px;
}
.brands .title{
    text-align: right;
    font-size: var(--secendry-font-size);
    font-weight: 600;
}
.brands .swiper-slide{
    width: 100px;
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.brands .swiper-slide img{
    width: 72px;
    height: 72px;
    background: transparent;
    filter: contrast(0.8);
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.brands .swiper-slide  span{
    background-color: #fff;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    font-size: calc(var(--secendry-font-size) - 4px);
    font-weight: 500;
    text-align: center;
    display: block;
}